## -*- coding: utf-8 -*-

<%

linearePlotList = []
stackedBarPlotList = []
counterList = []

for i in range(1,attr['plotCounter']):
	linearePlotList.append(attr['linearePlotLabel']+ str(i) + attr['format'])
	stackedBarPlotList.append(attr['stackedBarPlotLabel'] + str(i) + attr['format'])
	counterList.append(i)


%>
<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="description" content="Generate a Cheatsheet">
<meta name="author" content="Sebastian Spiegelburg">

<style>
<!--
.header{
	display: flex;
	background-color: red;
	flex-direction: row;
	justify-content: space-between;
}
body {
	max-width: 1500px;
	background-color: blue;
}
#sideInformation {
	max-width: 200px
}

.plotList{
	display: flex;
	flex-direction: row;
}
.projectCredit {
	display: flex;
	background-color: green;
	align-items: flex-end;


}
-->
</style>


</head>


<body>
	<header class="header flex-container">

		<div class="projectTitle">
			<h1>Beispiel Datei</h1>
			<h2>Darstellen von normierenten Expotentialfunktionen</h2>
		</div>
		<div class="projectCredit flex-container">
			<p id="sideInformation">Sebastian Spiegelburg</p>
		</div>
	</header>
<hr>
<section>
	<p> Die folgenden Diagrame sollten helfen die Basis für eine norminierte exponential Funktion zu bestimmen für 
			die maximale Verkaufsmenge von 10 Produkte. Der Wert 10 wurde zufällig gewählt und kann problemlos verändert
			werden.</p>
</section>

% for i in counterList:
<section class="plotList flex-container" >
	<img src="./tmp/png/${linearePlotList[loop.index]}">
	<img src="./tmp/png/${stackedBarPlotList[loop.index]}">
</section>
% endfor

</body>
</html>


